*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}
body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
nav{
    /* background-color: azure; */
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-end;
    margin-left: 5px;
    padding: 14px 30px  ;
    width: 100%;
}
nav h3{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}
.intro{
    /* padding-top: 30px; */
    height: 25%;
    width: 100%;
    /* background-color: wheat; */
    padding: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.intro h1{
    font-size: 120px;
    line-height: 100px;
    letter-spacing: -3px;

}
.place{
    display: flex;
    justify-content: space-between;

}
.place h4{
    margin-top: 40px;
}
#hero-img{
    height: 500px;
    width: 100%;
    background-color: orange;
    background-image: url(https://i.pinimg.com/236x/80/36/a0/8036a06c4afc17aba45b6f4a339f0b0e.jpg);
    background-size: cover;
    /* object-fit: cover; */
    /* background-position: bottom; */
}
.about{
    height: 45%;
    width: 100% ;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}
.about h1{
    width: 70%;
    font-size: 70px;
    letter-spacing: -4px;
    font-weight: 600;
}
.aboutpart2{
    height: 300px;
    width: 35%;
    border-left: 1px solid black;
    padding: 0px 30px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.aboutpart2 h4{
    font-size: 26px;
    font-weight: 600;

}
.aboutpart2 i{
     background-color: black;
     color: white;
     padding: 7px;
     font-size: 25px;
     border-radius: 50px;
     margin-right: 7px;
}
.do{
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    border-bottom: 1px solid black;
    padding: 15px;
}
.do1{
    width: 26%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: fe;pad */
    border-right:1px solid black ;
    padding: 0px 5px;
}
.do2{
    /* display: flex; */
    width: 70%;
    /* justify-content: space-between; */
    /* border-bottom: 1px solid black; */
}
.do3{
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    /* border-left: 1px solid black; */
    
}
.do4{
    display: flex;
}
.threeone{
     border-right: 1px solid black; 
     padding: 20px;
     margin-top: 10px;

}
.threetwo{
     /* border-right: 1px solid black;  */
     padding: 20px;

}
.heading{
    font-size: 36px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: -2px;
    margin-bottom: 3px;
}
.sub{
    font-size: 18px;
    font-weight: 400;
    width: 70%;
    line-height: 25px;
    color: rgb(85, 80, 80);
}
Marquee{
 font-size: 26px;
 font: bold;
 font-weight: 800;
 padding: 20px 0px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}